body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(41, 120, 160);
}

#home{
        background-color: rgb(37, 48, 49);
        margin-top: -15px;
}

#home ul{
    max-width: 400px;
    text-align: center;
    list-style: none;
    padding: 0;
}

#home ul li{
    display: inline;
}

#home ul li a{
color: #fff;
padding: 20px;
text-decoration: none;
display: inline-block;
transition: background .4s;
}

#home ul li a:hover{
    background-color: rgb(115, 146, 141);
}

.contato{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
width: 440px;
height: 630px;
background-color:rgba(0, 0, 0, 0.3);
border-radius: 10%;
color: #d3e3ff;
font-family: cursive;
font-size: 20px;
text-align: center;
}

input, textarea{
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid #356bb1;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: 10px;
    width: 200px;
    height: 35px;
}

textarea{
    width: 300px;
    height: 100px;
}

.botao{
    border: 0;
    margin: 10px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #356bb1;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 0.5em;
    border-radius: 5px;
    transition: .3s;
}

.botao:hover{
    background-color: #c0d4f6;
}

h1 p{
    font-family: cursive;
    font-size: 35px;
    margin: 10px;
}


