body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(41, 120, 160);
}

#home{
        background-color: rgb(37, 48, 49);
        margin-top: -15px;
}

#home ul{
    max-width: 400px;
    text-align: center;
    list-style: none;
    padding: 0;
}

#home ul li{
    display: inline;
}

#home ul li a{
color: #fff;
padding: 20px;
text-decoration: none;
display: inline-block;
transition: background .4s;
}

#home ul li a:hover{
    background-color: rgb(115, 146, 141);
}

.sobre_emp{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
width: 700px;
height: 500px;
background-color:rgba(0, 0, 0, 0.3);
border-radius: 10%;
color: #d3e3ff;
font-family: cursive;
font-size: 20px;
text-align: center;
}

.box h1, p{
padding: 20px;
}